[submodule "bin"]
	path = script
	url = git@github.com:rafiyq/script.git
[submodule "sway"]
	path = sway
	url = git@github.com:rafiyq/sway-config.git
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
