[submodule "bin"]
	path = script
	url = https://github.com/rafiyq/script.git
[submodule "sway"]
	path = sway
	url = https://github.com/rafiyq/sway-config.git
[submodule "nix/wsl-flake"]
	path = nix/wsl-flake
	url = https://github.com/rafiyq/wsl-flake.git
