[submodule "bin"]
	path = script
	url = git@github.com:rafiyq/script.git
[submodule "sway"]
	path = sway
	url = git@github.com:rafiyq/sway-config.git
[submodule "nix/wsl-flake"]
	path = nix/wsl-flake
	url = git@github.com:rafiyq/wsl-flake.git
